/* for all a tags with the class admin-mode in the list of navbar items
   oddly specific but otherwise it wont overrule bootstrap
*/
.navbar-default .navbar-nav>li>a.admin-mode {
  color:             red;
  pointer-events:    none;
}

.footer-custom {
  padding-top:       10px;
  padding-bottom:    10px;
	background-color:  #f8f8f8;
}

.footer-item {
  display:           flex;
  vertical-align:    middle;
}

.list-no-style {
  list-style-type:   none;
}
